<%- include('partials/header') %>


<div class=" centered m-5" >
  <div class="container">
    <i class="fas fa-code fa-6x"></i>
    <h1 class="display-3"> <b> Great JOB ! </b> </h1>
    <p class="lead">Email Verified</p>
    <hr>
    <a class="btn btn-dark m-2 " href="/login" type="button">Login</a>
    <a class="btn btn-light m-2 " href="/signup" type="button">Sign Up</a>

  </div>
</div>

<%- include('partials/footer') %>