<%- include('layouts/header') %>


<div class=" centered m-5" >
  <div class="container">
    <i class="fas fa-code fa-6x"></i>
    <h1 class="display-3"> <b> Oops! Incorrect credentials. Try again or Sign up </b> </h1>
    <hr>
    <a class="btn btn-light m-2 " href="/signup" type="button">Sign Up</a>
    <a class="btn btn-dark m-2 " href="/login" type="button">Login</a>

  </div>
</div>

<%- include('layouts/footer') %>